# ملفات النظام وIDE
.idea/
*.iml
*.vscode/

# ملفات البناء
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
pubspec.lock   # أحيانًا يُرفع حسب المشروع، لكن غالبًا يُترك خارج Git

# ملفات النظام
*.log
*.tmp

# الملفات الكبيرة المؤقتة
*.apk
*.aab
*.ipa

# مفاتيح التوقيع
*.jks
key.properties

# ملفات أخرى قد تكون مؤقتة أو خاصة
*.DS_Store
*.swp
*.swo
