# ملفات النظام وIDE
.idea/
*.iml
*.vscode/

# ملفات البناء
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
pubspec.lock   # في مشاريع Flutter أحيانًا يُرفع، أحيانًا لا، حسب المشروع

# ملفات النظام
*.log
*.tmp

# الملفات الكبيرة المؤقتة
*.apk
*.aab
*.ipa
